<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <%- include('partials/_head') %>
    <title>URL - TinyApp Example</title>
</head>

<body>
  <%- include('partials/_header') %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= urlInfo.longURL %>
        </h5>
        <p class="card-text">
          Short URL ID: <a href="/u/<%= id %>">
            <%= id %>
          </a>
        </p>
        <p class="card-text">
          Followed: <%= urlInfo.visitCount ? urlInfo.visitCount : 0 %> time(s) by <%= urlInfo.visitors ?
              urlInfo.visitors.size : 0 %> unique visitor(s)
        </p>
        <div class="card bg-light">
          <h4 class="card-title">Edit</h4>
          <p class="card-text">
            Change URL:
          <form action="/urls/<%= id %>?_method=PUT" method="POST">
            <input type="text" class="w-50 p-1" name="longURL" required
              pattern="[Hh][Tt][Tt][Pp][Ss]?:\/\/(?:(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)(?:\.(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)*(?:\.(?:[a-zA-Z\u00a1-\uffff]{2,}))(?::\d{2,5})?(?:\/[^\s]*)?"
              value="<%= urlInfo.longURL %>" />
            <!-- Pattern from https://stackoverflow.com/questions/58070841/pattern-in-html5-input-type-url-validation-->
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
          </p>
        </div>
      </div>
      <div class="card-footer text-muted">
        <% if(urlInfo.visits) { %>
          <h3>Visits:</h3>
          <table class="table">
            <tr>
              <th>Visitor ID</th>
              <th>Visited At</th>
              <th>Visitor IP</th>
            </tr>
            <% for(const visit of urlInfo.visits) { %>
              <tr>
                <td>
                  <%= visit.visitorId %>
                </td>
                <td>
                  <%= visit.timestamp %>
                </td>
                <td>
                  <%= visit.remoteIP %>
                </td>
              </tr>
              <% } %>
                <% } %>

      </div>
    </div>
    <%- include('partials/_tail') %>
</body>

</html>