<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <%- include('partials/_head') %>
    <title>URL - TinyApp Example</title>
</head>

<body>
  <%- include('partials/_header') %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %>
        </h5>
        <p class="card-text">
          Short URL ID: <a href="/u/<%= id %>">
            <%= id %>
          </a>
        </p>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
    <%- include('partials/_tail') %>
</body>

</html>